<div class="container">
  <div class="panel panel-info">
    <%@bookmarks.each do |bookmark| %>
      <div class="panel-body">
        <div class="col-sm-6">
          <% if bookmark.feed.image.blank? %>
            <%= image_tag "/uploads/default/default1.jpg", class: "img"   %>
          <% else %>
            <%= image_tag bookmark.feed.image_url(), class: "img"  %>
          <%end%>
        </div>
        <div class="col-sm-6">
          <%= bookmark.feed.body %>
        </div>
      </div>
    <%end%>
  </div>
</div>
          
<%= will_paginate @bookmarks %>