<%@feeds.each do |feed| %>
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="col-sm-4"><%= image_tag feed.image_url(), class: "img" unless feed.image.blank? %></div>
      <div class="col-sm-4"><%= feed.body %></div>

      <div class="checkbox">
        <%= check_box_tag 'bookmark', feed.bookmark,feed.bookmark,  "checked data-toggle": "toggle", class: 'bookmark_checkbox toggle', "data-feed-id": feed.id %>
      </div> 
    </div>
  </div>
<%end%>
      
      