<%@feeds.each do |feed| %>
  <div class="panel panel-info">
    <div class="panel-body">
      
      <% if feed.image.blank? %>
        <div class="col-sm-4"><%= image_tag "/uploads/default/default1.jpg", class: "img"   %></div>
      <% else %>
        <div class="col-sm-4"><%= image_tag feed.image_url(), class: "img"   %></div>
      <%end%>

      <div class="col-sm-4"><%= feed.body %></div>
      <div class="checkbox">
        <input type="checkbox" unchecked data-toggle="toggle" data-on = "bookmark" data-off = "unmark" id='bookmark_checkbox' data-id="<%=feed.id%>" >
        <%#= check_box_tag 'bookmark', "data-toggle": "toggle", "data-on": "like", "data-off": "unlike", "data-onstyle": "info", class: 'bookmark_checkbox toggle', "data-feed-id": feed.id %>

      </div> 
    </div>
  </div>
<%end%>
      
        
      

        
         
      
      