<div class="container">
  <h1> bookmark feeds </h1>
  <div class="row" >
    <div class="col-sm-3"><h2>image</h2></div>
    <div class="col-sm-3"><h2>post</h2></div> 
    <div class="col-sm-3"><h2>permission</h2></div>
    <div class="col-sm-3"><h2>bookmark</h2></div>
  </div>     
  <%= render partial: 'bookmarks' %>
  <%= will_paginate @feeds %>
</div>

    
  


      