<h1> all post </h1>
<%= link_to 'feed', new_feed_path %>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>post</th>
    </tr>
  </thead>
  <tbody>
  <%@feeds.each do |feed| %>
    <tr>
      <td><%= image_tag feed.image_url() unless feed.image.blank? %></td>
      <td><%= feed.body %></td>
    </tr>
  <% end %>
</table>
    

      
    
 




