<h1>this is show</h1>

<strong> image </strong>
<%= image_tag @feed.image_url() unless @feed.image.blank? %> 

<strong> body </strong>
<%= @feed.body %>
 
<p>
  <%= link_to 'Back', feeds_path %>
</p>

