<h1> Add Friend </h1>
<div class="container">
  <div id="feedlist" > 
    <%@users.each do |user| %>
      <div class="panel panel-info " >
        <div class="panel-body">
          <div class="col-sm-4">
            <% if user.image.blank? %>
              <%= image_tag "/uploads/default/default2.png", class: "img"  %>
            <% else %>
              <%= image_tag user.image_url(), class: "img"  %>
            <%end%>
          </div>
          <div class="col-sm-4"><%= user.name.titleize %></div>
          <%= link_to "Add Friend", friendships_path(friend_id: user.id), :method => :post, id: "show_whatever" %>
        </div>
      </div>
    <%end%>
  </div>
</div>
            

            
           
          